@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
:root {
  font-family: "Hind", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e9e9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #dea215;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* padding: 2rem; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #e9e9e9;
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(
    180deg,
    rgb(239, 239, 239) 0%,
    rgba(227, 227, 227, 1) 100%
  );
}
.home-wrapper {
  margin: auto;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;

  /* width: 100vw; */
}
.home-banner {
  width: 100%;
  height: 40rem;
  padding: 4rem 10rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  /* background-color: #b436b6; */
  /* opacity: 0.8; */
  /* background-image:
    repeating-radial-gradient(circle at 0 0, transparent 0, #203fbb5f 70px),
    repeating-linear-gradient(#444df7f7, #9136c6); */

  position: relative;
}
.home-banner * {
  z-index: 10;
}
.home-banner::before {
  content: "";
  position: absolute;
  inset: -100%;
  width: 400rem;
  height: 400rem;
  z-index: 0;
  background-image:
    repeating-radial-gradient(circle at 0 0, transparent 0, #203fbb5f 100px),
    repeating-linear-gradient(#444df7f7, #9136c6);

  animation: rotateBg 120s linear infinite;
}

@keyframes rotateBg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-banner .h1 {
  position: relative;
}
.home-banner h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 6rem;
  font-weight: 600;
  line-height: 5rem;
  /* animation: type 0.6s ease-out; */
}
.home-banner .h1 h1:nth-child(1) {
  animation: type 0.6s ease-out forwards;
}
.home-banner .h1 h1:nth-child(2) {
  animation: type 0.7s ease-out forwards;
}
.home-banner .h1 h1:nth-child(3) {
  animation: type 0.86s ease-out forwards;
}

.home-banner .left-btn {
  /* background-color: #dea215; */
  border-radius: 6px;

  color: white;
  padding: 1.5rem;
  animation:
    headerButtons 0.5s,
    ease-out;
  transition-duration: 0.6s;
}
.home-banner .left-btn:hover {
  color: #ffb814;
}
.home-banner a {
  text-align: center;
}

.home-banner .right-btn {
  background-color: #ffb814;
  width: 12rem;
  border-radius: 6px;
  padding: 1.5rem;
  animation:
    headerButtons 0.7s,
    ease-out;
  transition-duration: 0.6s;
  /* animation-delay: 0.5s; */
}
.home-banner .right-btn:hover {
  color: #4f3a1b;
  /* font-weight: 700; */
  box-shadow: 0px 0px 20px 0 #ffff0082;
}
@keyframes headerButtons {
  0%,
  50% {
    margin-top: 10rem;
    opacity: 0;
  }

  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}
@keyframes type {
  from {
    transform: translateX(-20rem);
    opacity: 0;
  }
  to {
    /* margin-left: 0; */
    transform: translateX(0rem);
    opacity: 1;
  }
}
a {
  color: black;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  width: 100%;
  padding: 0rem 10rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 11;
  background-image: linear-gradient(0deg, #ffffff00 0%, #ffffff 100%);
  margin: auto;
}
.wrapper {
  margin: auto;
  display: flex;
  height: auto;
  width: 99vw;
  /* flex-direction: column; */
  padding-top: 10rem;
  gap: 1rem;
  justify-content: center;
}
@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
}
.left {
  flex: 0.4;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: sticky;
}
.left h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: -2.5rem;
}
.left a:hover {
  transition-duration: 0.1s;
  /* color: #a99733; */
  background-color: #e1e1e1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.171);
}
.left a {
  cursor: pointer;
  display: flex;

  gap: 1rem;
  line-height: 3.7rem;
  border-radius: 6px;
  background-color: white;
  z-index: 10;
  width: 100%;

  height: 4rem;
  padding: 0.2rem 1rem;
  color: black;
}
.left a.selected {
  outline: 4px solid #3c8cdc;
  position: relative;
}
.left a.selected::before {
  content: "";
  background-color: #3c8cdc;
  width: 1rem;
  height: 1rem;
  right: -0.6rem;
  top: 1.5rem;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
}
.left a.selected::after {
  content: "";
  background-color: #ffffff;
  width: 1rem;
  height: 2rem;
  right: 0;
  top: 1.2rem;

  z-index: 10;
  position: absolute;
}
.right {
  flex: 1;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.right h2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.right h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.right .img-holder {
  padding: 2rem;
  overflow: hidden;
  width: 70%;
}
.right .img-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right .price-footer {
  background-color: #cba42d;
  width: 100%;
  align-items: center;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  color: black;
  --color: #e6a911;
  background:
    linear-gradient(45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(-45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, transparent 75%, var(--color) 75%) -50px 0,
    linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: #ffc83f;
  background-size: 10px 40px;
  background-position-y: 5px;
}
/* .footer::after {
  content: "";
  width: 15rem;
  height: 15rem;
  transform: rotate(30deg);
  background-color: #ffc83f;
  position: absolute;
  right: -15px;
  bottom: -6rem;
  z-index: 0;
} */
.footer p {
  z-index: 1;
}
.right .label {
  font-weight: 600;
  font-size: 1.2rem;
}
.right input,
select {
  background-color: #e4e4e4;
  border-radius: 6px;
  outline: 1px solid rgb(167, 167, 179);
  height: 3rem;
  text-align: center;
  font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.outline {
  outline: 1px solid rgb(205, 205, 219);
}

.footer h1 {
  text-align: left;
  color: black;
  font-weight: 600;
}
.footer h2 {
  text-align: left;
  color: black;
  font-weight: 400;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #cfcfcf;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 100%;
    width: 1rem;
    background-color: #1a1a1a;

    background: #434343;
    box-shadow: -200px 0 0 200px #b6b6b6;
  }
  /* Special styling for WebKit/Blink */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 2rem;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    outline: 1px solid rgb(132, 132, 132);
  }
}

.panel {
  background-color: white;
  border-radius: 6px;
}

.services-block {
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 4rem;
}
.services-block .services-col {
  flex-basis: 1;
}
.services-block .offer-col {
  flex-basis: 1;
}
.offer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.offer-topic {
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  transition-duration: 0.4s;
}
.offer-topic:hover{
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.129);
  transform: scale(1.02);
  color: #000000;
}
.services-item {
  width: 20rem;
  height: 18rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 0.5s;
  border-radius: 6px;
  overflow: hidden;
}
.services-item .img-container {
  width: 100%;
  height: 12rem;
  max-height: 12rem;
  overflow: hidden;
}
.services-item .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.services-item a {
  width: 100%;
  height: 4rem;
  color: var(--accent);
  text-align: center;
  font-weight: 700;
  transition-duration: 0.1s;
  line-height: 4rem;
}
.services-item a:hover {
  background-color: var(--accent);
  color: white;
}
.services-holder {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: auto auto;
  margin-top: 2rem;
  gap: 1rem;
}
.services-item:hover {
  /* outline: 4px solid green; */
  /* animation: pulse 1s infinite; */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.305);
  transform: scale(1.02);
}
@keyframes pulse1 {
  0% {
    outline: 2px solid #975e0f;
  }
  50% {
    outline: 4px solid #975e0f;
  }
  100% {
    outline: 2px solid #975e0f;
  }
}

.whyus-block {
  width: 100%;
  height: 20rem;
}

.contactform-block {
  width: 50rem;

  padding: 2rem;
  border-radius: 6px;
  background-color: white;
  margin: auto;
  margin-bottom: 5rem;
  position: relative;
  background-image:
    linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 2rem 2rem;

  /* -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  ); */
}

.contactform-block form {
  margin-top: -3rem;
}
.contactform-block h1 {
  z-index: 100;
  margin-bottom: -2rem;
}
.contactform-block .wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 4rem 1rem 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contactform-block .left {
  flex: 1;
}
.contactform-block .stars {
  position: absolute;
  left: 1rem;
  font-weight: 700;
  color: crimson;
  line-height: 4rem;
}
.contactform-block .footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contactform-block button {
  padding: 1rem;
  z-index: 9;
  background-color: orange;
}
.contactform-block .message {
  flex: 1.6;
}
.contactform-block input,
textarea {
  background-color: white;
  z-index: 9;
  border-radius: 6px;
  padding: 1rem;
  width: auto;
  height: 3.5rem;
  transition-duration: 0.6s;
}
.contactform-block textarea {
  height: 11.5rem;
}
.contactform-block input.invalid {
  color: crimson;
  outline: 1px solid crimson;
}
.contactform-block input:focus,
textarea:focus {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.28);
}

.bg-shiron {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%2300000000'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='%23DEDEDEff' fill='none'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='%23DEDEDEff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.modal-holder {
  position: absolute;
  pointer-events: none;
  background-color: #00000037;
  padding: auto;
}

@media (max-width: 1000px) {
  .services-holder {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 800px) {
  .services-holder {
    grid-template-columns: 90%;
  }
  .services-item {
    width: 100%;
    height: 12rem;
  }
  .services-item .img-container {
    height: 40%;
  }
  .services-item a {
    height: 3rem;
    line-height: 3rem;
  }
  .contactform-block {
    width: 100%;
  }
  .right .price-footer {
    flex-direction: column;
    height: auto;
  }
  .right .price-footer p {
    text-align: center;
  }
  .left {
    max-width: 90%;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: auto auto;
  }
  .left a {
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    display: inline;
  }
  .contactform-block .left {
    display: flex;
    flex-direction: column;
  }
  .contactform-block .wrapper {
    padding: 4rem 1rem 1rem;
  }
}
